.welcomeLoginBox {
    padding-top: 60px;
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
}

.welcomeLoginBox--title {
    width: 400px;
    height: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
}

.welcomeLoginBox--text {
    width: 400px;
    height: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333333;
}

.credentialsInput {
    padding-top: 50px;
}

.overInputText {
    width: 32px;
    height: 15px;

    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;

    padding-right: 315px;
    /* identical to box height */

    display: flex;


    color: #333333;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.login--inputBox {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 12px;
    gap: 12px;

    width: 350px;
    height: 40px;

    background: #F8F8F8;
    border: 1px solid #D8D8D8;
    border-radius: 4px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.login-register {
    padding-top: 30px;
}

.login-register--button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 14px;
    gap: 10px;

    position: relative;
    width: 350px;
    height: 45px;

    background: #0067FF;
    border: 1px solid #0056D7;
    border-radius: 4px;

    color: white;
}

.login-register--button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.login-register--button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.underButtonContent {
    width: 350px;
    height: 15px;
    display: flex;
    padding-top: 20px;
}

.forgetPasswordButton {
    width: 125px;
    height: 30px;

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    /* identical to box height */
    display: flex;
    align-items: center;
    justify-content: center;

    background: white;
    border: 1px solid #0066FF;
    border-radius: 2px;

    color: #0066FF;
}

.forgetPasswordButton:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.createAccButton {
    width: 125px;
    height: 30px;

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    /* identical to box height */
    display: flex;
    align-items: center;
    justify-content: center;

    background: white;
    border: 1px solid #0066FF;
    border-radius: 2px;

    color: #0066FF;

}

.createAccButton:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.input--error {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;

    color: #FF0000;
}

.loginInputDiv {
    display: block;
    width: 350px;
}

.correct--signup--login{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;

    color: #11AF22;
}

.wrong--signup--login {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    width: 450px;
    text-align: center;

    color: #FF0000;
}

.login--afterSubmissionInfo {
    padding-top: 30px;
    width: 450px;
    text-align: center;
}