@import url("~leaflet/dist/leaflet.css");

.bid-item-body {
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.bid-item-panel {
    width: 400px;
    display: grid;
    align-items: center;
    text-align: center;

    background: whitesmoke;
    border: 4px solid lightblue;
    border-radius: 2px;

    margin-top: 30px;
    margin-left: 50px;
}

.bid-item-container {
    margin-top: 7px;
    margin-bottom: 7px;
}

.bid-item-label{
    font-size: 17px;
    font-weight: bolder;
}

.bid-item-text {
    font-family: Chandas;
    font-weight: lighter;
    font-size: 12px;
    margin-top: -1px;
}

.bid-divider {
    font-weight: bolder;
    margin-top: -20px;
    margin-bottom: -5px;
    letter-spacing: -1px;
}

.bid-input-btn {
    width: 100%;
    text-align: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 30px;
}

.bid-input {
    align-items: center;
    height: 25px;
    background: #F8F8F8;
    border: 1px solid black;
    border-radius: 4px;
    padding-left: 5px;
    margin-right: 2px;
}

.bid-btn {
    align-items: center;
    height: 25px;
    background: lightblue;
    border: 1px solid black;
    border-radius: 4px;
    margin-top: 10px;
}

.bid-btn:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.bid-btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.bid-btn-confirm {
    align-items: center;
    height: 25px;
    background: darkred;
    border: 1px solid black;
    border-radius: 4px;
    margin-left: 2px;
    color: white;
}

.bid-item-map {
    width: 100%;
    margin-right: 30px;
}

.leaflet-container {
    width: 600px;
    height: 500px;
}

.bid-input-error {
    color: #FF0000;
}


.bid-img-component {
    width: 100%;
    height: 200px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.bid-show-img image {
    width: 50%;
    height: 50%;
}

.bid-change-image-btn {
    text-align: center;
}

.change-image-btn {
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid black;
    border-radius: 5px;
    padding-bottom: 3px;
}

