@import url("~leaflet/dist/leaflet.css");

.add-item-welcome-text {
    width: 100%;
    align-items: center;
    text-align: center;

    font-family: "Abyssinica SIL";
    font-weight: bold;
}

.add-item-panel {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    text-align: center;

    background: whitesmoke;
    border: 4px solid lightblue;
    border-radius: 2px;

    margin-left: 30px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.item-attributes {
    display: grid;
    margin-top: 7px;
    margin-bottom: 7px;
}

.select-category-box {
    height: 157px;
    border-radius: 3px;
    border: 2px solid black;
}

.add-item-input-box {
    border: 2px solid black;
    border-radius: 4px;
    height: 20px;
}

.item-item-label {
    margin-bottom: 3px;
    font-family: "DejaVu Sans";
    font-size: 13px;
    font-weight: normal;
}

.add-item-option {
    font-family: "DejaVu Sans";
    font-weight: normal;
    font-size: 13px;

    text-align: center;
}

.add-item-div-btn {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 25px;
}

.add-item-submit-btn {
    width: 300px;
    height: 40px;

    background: lightblue;
    border: 1px solid black;
    border-radius: 4px;

    color: black;

    margin-bottom: 30px;
}

.add-item-submit-btn:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.add-item-submit-btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.add-item-input-error {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;

    margin-top: -5px;
    margin-bottom: 0px;

    color: #FF0000;
}



.add-item-correct-registration {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    width: 100%;
    text-align: center;

    color: #11AF22;
}

.add-item-wrong-registration {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    width: 100%;
    text-align: center;

    color: #FF0000;
}

.add-item-image {
    width: 70%;
    height: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.add-item-map {
    width: 100%;
    margin-right: 30px;
}

.leaflet-container {
    width: 100%;
    height: 500px;
}

.add-item-full-body {
    width: 100%;
    display: flex;
}

.add-item-longlat-box {
    border: 2px solid black;
    border-radius: 4px;
    height: 20px;
    padding: 5px 5px 5px 5px;
}