.welcomeScreen {
    display: block;
}

.welcomeBox {
    padding-top: 60px;
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
}

.welcomeBox-welcomeText {
    width: 400px;
    height: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
}

.welcomeBox-text {
    width: 637px;
    height: 28px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333333;
}

.welcome--login-register {
    margin-top: 30px;
    display: flex;
    width: 350px;
    height: 45px;
}

.welcome--login-register-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 14px;
    gap: 10px;

    position: relative;
    width: 154px;
    height: 45px;

    background: #0067FF;
    border: 1px solid #0056D7;
    border-radius: 4px;

    color: white;
}

.welcome--login-register-button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.welcome--guest-button {
    width: 200px;
    height: 30px;

    margin-top: 28px;

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    /* identical to box height */
    display: flex;
    align-items: center;
    justify-content: center;

    background: white;
    border: 1px solid #0066FF;
    border-radius: 2px;

    color: #0066FF;
}

.welcome--guest-button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}